[submodule "external/GRiD"]
	path = external/GRiD
	url = https://github.com/A2R-Lab/GRiD.git
[submodule "external/cricket"]
	path = external/cricket
	url = https://github.com/saiccoumar/cricket.git
	branch = cuda_backend-v3
